.main-container{
    margin: 100px auto;
    padding: 40px;
    width: 60vw;
    max-width: 480px;
    min-width: 400px;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(220, 238, 238);
}

.result{
    margin: 10px 0px 10px 0px;
}

#result__title{
    text-align: center;
    font-size: 1.6em;
}

#result__resume{
    text-align: center;
}